body {
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: rgb(22, 50, 76);
  color: white;
}

button {
  color: white;
  background-color: #5e5e5e;
  border: 2px solid white;
}

.container {
  display: flex;
  margin: 50px auto;
  justify-content: space-between;
  max-width: 900px;
}

.snake {
  background-color: red;
}

.empty {
  background-color: black;
}

.box {
  border: 1px solid black;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.grid {
  position: relative;
  border: 1px solid black;
  width: 550px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.one-point {
  background-color: blue;
}

.two-point {
  background-color: green;
}

.three-point {
  background-color: yellow;
}

.four-point {
  background-color: violet;
}

#start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 40px;
    border-radius: 50px;
    background-color: #5e5e5e;
    font-size: 20px;
    color: white;
    border: 2px solid white;
}

#start:focus {
  outline: none;
}

#difficulty {
  display: block;
  height: 30px;
  font-size: 20px;
  text-align: center;
  position: relative;
  border: 2px solid black;
  border-radius: 200px;
}

#difficulty:focus {
  outline: none;
}

.select-difficulty {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
  justify-content: space-between;
  height: 300px;
  align-self: center;
  font-size: 22px;
}

.difficulty-button {
  height: 40px;
  margin-top: 10px;
  border-radius: 500px;
  font-size: 18px;
}

.difficulty-button:focus {
  outline: none;
}

.sidebar {
  height: 443px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}

.high-score-container {
  margin: 0 auto;
  font-size: 23px;
}

.high-score {
  text-align: center;
  margin-top: -17px;
  color: green;
  font-family: cursive;
  font-size: 48px;
}

input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    background: #eee url('http://i.stack.imgur.com/YYySO.png') no-repeat 50% 50%;
    width: 14px;
    height: 14px;
    padding: 4px;
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translate(0%, -50%);
    border-radius: 28px;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.custom-difficulty {
  font-size: 15px;
}

.custom-difficulty-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
}
